@import '../../assets/styles/variables';

.sidebar,
.offcanvas {
  max-width: 220px;
}

.sidebar {
  z-index: 0;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0 0 0 / 10%);

  .nav-item {
    width: 100%;
  }

  .nav-link {
    color: inherit;
    display: flex;

    svg {
      width: 18px;
      height: 18px;
      margin: 3px 12px 3px 8px;
      display: block;
    }

    span {
      flex: auto;
      height: 24px;
      line-height: 24px;
      display: block;
    }

    &:hover {
      background: $primary;
      color: $white;
    }
  }
}
